.Membres h1 {
    font-size: 100px;
    margin: 75px 0 25px;
    text-decoration: underline;
    text-align: center;
}

.imagenes-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.imagen-wrapper {
    position: relative;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
}

.imagen-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-boton {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.info-boton:hover {
    background-color: #0056b3;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.popup-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-content img {
    max-width: 350px;
    margin-bottom: 20px;
}

.cv-boton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.cv-boton:hover {
    background-color: #0056b3;
}

.close-boton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 100%;
}

.close-boton:hover {
    background-color: #cc0000;
}