* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #beb9ff;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px;
}

.tituloMembres {
  text-align: center;
  font-size: 100px;
  margin: 50px 0 45px 0;
  width: 100%;
}

.card {
  border-radius: 25px;
  background-color: #FFF;
  height: 400px; /* Altura fija para las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacio entre los elementos dentro de la tarjeta */
}

.image-content, .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
  flex: 0 0 auto; /* No permitir crecimiento ni encogimiento */
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 0;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}

.card-content {
  flex: 1 1 auto; /* Permitir crecimiento y encogimiento */
  overflow: hidden; /* Ocultar cualquier contenido desbordante */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuir el contenido verticalmente */
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 10px 0; /* Espacio entre el nombre y otros elementos */
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden; /* Ocultar cualquier contenido desbordante */
  text-overflow: ellipsis; /* Añadir puntos suspensivos (...) para el texto desbordante */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Mostrar máximo de 3 líneas */
  -webkit-box-orient: vertical;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-self: center; /* Centrar el botón */
  margin-top: auto; /* Empujar el botón al final del contenido */
}

.button:hover {
  background: #265DF2;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%; /* Más pequeño que el original */
  max-width: 400px; /* Ajuste del tamaño máximo */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 16px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.popup-catchphrase {
  font-size: 14px;
  color: #707070;
  text-align: center;
  margin-bottom: 10px;
}

.popup-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cv-button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  cursor: pointer;
}

.cv-button:hover {
  background: #265DF2;
}
