.Projectes {
    min-height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 5% 1% 5%;
}

.Projectes h1 {
    font-size: 6rem;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #5755e0;
    word-wrap: break-word; /* Permite el ajuste de línea de las palabras largas */
}

.imagenes-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.imagen-wrapper {
    position: relative;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
    transition: transform 0.3s;
    cursor: pointer;
}

.imagen-wrapper:hover {
    transform: scale(1.05);
}

.imagen-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7%;
}

.info-boton {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
    background: #5755e0;
    color: white;
    border-radius: 6px;
    border: none;
}

.info-boton:hover {
    background-color: #ee7c7c;
    color: aliceblue;
}

/* Ajustes responsivos */
@media (max-width: 1200px) {
    .imagenes-container {
        justify-content: space-around;
    }
}

@media (max-width: 992px) {
    .imagenes-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .imagen-wrapper {
        width: 45%;
    }

    .Projectes h1 {
        font-size: 4rem; /* Ajusta el tamaño del título para pantallas más pequeñas */
    }
}

@media (max-width: 768px) {
    .Projectes h1 {
        font-size: 3rem; /* Ajusta el tamaño del título para pantallas aún más pequeñas */
    }

    .imagenes-container {
        flex-direction: column;
        align-items: center;
    }

    .imagen-wrapper {
        width: 90%;
        max-width: 300px;
        height: auto;
    }
}

@media (max-width: 430px) {
    .Projectes h1 {
        font-size: 2.5rem; /* Ajusta el tamaño del título para pantallas muy pequeñas, como el iPhone 14 Pro Max */
        margin-bottom: 30px; /* Reduce el margen inferior para ahorrar espacio */
    }

    .imagen-wrapper {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .info-boton {
        padding: 8px 16px; /* Ajusta el padding del botón para pantallas pequeñas */
        font-size: 0.9rem; /* Ajusta el tamaño de la fuente del botón */
    }
}
