.titol-article-container h1,
.titol-article-container h2,
.titol-article-container p {
    text-align: center;
}

.titol-article-title {
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titol-article-subtitle {
    font-size: 50px;
    margin: 50px 0 25px;
}

.titol-article-text {
    margin: 0 15%;
    line-height: 1.6;
    font-size: 16px;
}
