h1,
h2,
p {
    text-align: center;
}

h1 {
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 50px;
    margin: 50px 0 25px;
}

p {
    margin: 0 15%;
    line-height: 1.6;
    font-size: 16px;
}