div{
    margin: 0;
    padding: 0;
  }

.columna-izquierda {
    display: block;
    float: left;
    margin-left: 30px;
    width: 60%;x
}
.columna-izquierda img{
    width: 100%;
}
div div h2{
    text-decoration: underline;
    font-size: 3vw;
}
.columna-derecha {
    float: right;
    width: 30%;
    margin-right: 30px;
    background-color: #F28989;
}
.columna-derecha img {
    display: block;
    margin: auto;
    margin-top: 15%;
    width: 50%;
    height: 50%;
}
#img-abajo{
    margin-bottom: 15%;
}